br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 25px 7px;
         
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
      }