@{
    ViewBag.Title = "Register success";
}

<h2>Register success</h2>

<div class="alert alert-success">
    <h4 class="alert-heading"><strong>Congatulations!</strong></h4>
    <p>
        Regsitration success. 
        Now you can go to home page
    </p>
</div>
